In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_path = "midlertidigt_data.csv"
df = pd.read_csv(data_path)

In [2]:
df.head()

,Unnamed: 0,word,likes,retweets,comments,n,avg_likes,avg_retweets,avg_comments,trafic
0,1,vej,3430,452,NaN,87,39,5,NaN,3882
1,2,miljøministerium,47,13,NaN,1,47,13,NaN,60
2,3,biodiversitetsmål,47,13,NaN,1,47,13,NaN,60
3,4,Danmark,12567,1730,NaN,237,53,7,NaN,14297
4,5,beskytte,680,63,NaN,5,136,13,NaN,743

In [ ]:
df.iloc[5].plot.bar()